.bmiCalculator {

  justify-content: center;
}


.main {
  background-color: lightgray;
  padding: 10px;
  width: 35rem;



}

.main label {
  margin: 5px;
}

.main input {
  margin-left: 20px;

}

.btn {
  margin-left: 20%;
  margin-top: 10px;

}